.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  border: 1px solid red;
  font-family: 'Raleway', sans-serif !important;
  overflow-x: hidden;
}

.App-body {
  display: flex;
  flex: 1;
  border: 1px solid red;
}
.App-content {
  flex: 1;
  border: 1px solid red;
}

.App-nav, .App-sidebar {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  border: 1px solid red;
}

.App-nav {
  /* put the nav on the left */
  order: -1;
  border: 1px solid red;
}

.App,
.App-body {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.App-nav {
  order: -1;
  border: 1px solid red;
}

.App-content ul {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vw;
  margin: 0;
}

li button {
  width: 100%;
}

li {
  list-style-type: none;
}


@media (min-width: 768px) {
  .App-body {
    flex-direction: row;
    flex: 1;
    border: 1px solid red;
  }
  .App-content {
    flex: 1;
    border: 1px solid red;
  }
  .App-nav, .App-sidebar {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    border: 1px solid red;
  }
}

